
{% extends "admin/base_site.html" %}

{% load i18n %}

{% block content %}
<style type='text/css'>

	body {
		font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
		margin: 0;
	}
	
	h1 {
		margin: 0;
		font-size: 1.3em;
	} 
	
	p.description {
		font-size: 0.8em;
		padding: 1em;
		position: absolute;
		top: 13em;
		margin-left: 600px;
	}
	
	#calendar_selection {
		font-size: 0.7em;
		position: absolute;
		top: 9em; 
		right: 1em;
		padding: 1em;
		background: #ffc;
		border: 1px solid #dda;
		width: 270px;
		height: 17px;
	}
	
	#message {
		font-size: 0.7em;
		position: absolute;
		top: 9em; 
		right: 300px;
		padding: 1em;
		background: #ddf;
		border: 1px solid #aad;
		width: 270px;
		height: 17px;
	}
	
	
</style>

<link rel='stylesheet' type='text/css' href='http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/smoothness/jquery-ui.css' />
<link rel='stylesheet' type='text/css' href='/static/jquery.weekcalendar.css' />

<script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js'></script>
<script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.min.js'></script>
<script type='text/javascript' src='/static/jquery.weekcalendar.js'></script>
<script type='text/javascript'>


	var year = new Date().getFullYear();
	var month = new Date().getMonth();
	var day = new Date().getDate();

	var events_network = {
			options: {
				timeslotsPerHour: 2,
				timeslotHeight: 15
			},
			events : [
   		        {% for event in nw_events %}
		           {"id":{{ forloop.counter }}, "start":new Date({{ event.start.year }},{{ event.start.month }},{{ event.start.day }},  {{event.start.hour}}), "end":new Date({{ event.end.year }},{{ event.end.month }},{{ event.end.day }},{{ event.end.hour }}),"title":"{{ event.title }}"},
		        {% endfor %}
			]
		};

	var events_hardware = {
			options: {
				timeslotsPerHour: 2,
				timeslotHeight: 25
			},
			events : [
   		        {% for event in hw_events %}
		           {"id":{{ forloop.counter }}, "start":new Date({{ event.start.year }},{{ event.start.month }},{{ event.start.day }},  {{event.start.hour}}), "end":new Date({{ event.end.year }},{{ event.end.month }},{{ event.end.day }},{{ event.end.hour }}),"title":"{{ event.title }}"},
		        {% endfor %}
			]
		};
	    var events_software = {
		    options: {
			    timeslotsPerHour: 2,
			    timeslotHeight: 20
		    },
		    events : [
		        {% for event in sw_events %}
		           {"id":{{ forloop.counter }}, "start":new Date({{ event.start.year }},{{ event.start.month }},{{ event.start.day }},{{event.start.hour}}), "end":new Date({{ event.end.year }},{{ event.end.month }},{{ event.end.day }},{{ event.end.hour }}),"title":"{{ event.title }}"},
		        {% endfor %}
		    ]
	    };
	   
	$(document).ready(function() {

		var $calendar = $('#calendar').weekCalendar({
			timeslotsPerHour: 1,
			scrollToHourMillis : 0,
			height: function($calendar){
				return $(window).height() - $("h1").outerHeight(true);
			},
			eventRender : function(calEvent, $event) {
				if(calEvent.end.getTime() < new Date().getTime()) {
					$event.css("backgroundColor", "#aaa");
					$event.find(".time").css({"backgroundColor": "#999", "border":"1px solid #888"});
				}
			},
			eventNew : function(calEvent, $event) {
				alert("You've added a new event. You would capture this event, add the logic for creating a new event with your own fields, data and whatever backend persistence you require.");
			},
			data: function(start, end, callback) {

				var dataSource = $("#data_source").val();
				if(dataSource === "1") {
					callback(events_network);
				} else if(dataSource === "2") {
					callback(events_hardware);
				} else if(dataSource === "3") {
					callback(events_software);
				} else {

					callback([]);
				}
            }
		});

		$("#data_source").change(function() {
			$calendar.weekCalendar("refresh");
			updateMessage();
			
		});

		function updateMessage() {
			var dataSource = $("#data_source").val();
			$("#message").fadeOut(function(){
				if(dataSource === "1") {
					$("#message").text("Displaying event data set 1 with timeslots per hour of 4 and timeslot height of 20px");
				} else if(dataSource === "2") {
					$("#message").text("Displaying event data set 2 with timeslots per hour of 3 and timeslot height of 30px");
				} else if(dataSource === "3") {
					$("#message").text("Displaying event data set 3 with timeslots per hour of 3 and timeslot height of 30px");
				} else {
					$("#message").text("Displaying no events.");
				}
				$(this).fadeIn();
			});
		}
		updateMessage();
	});

</script>

	<div id="message" class="ui-corner-all"></div>
	<div id="calendar_selection" class="ui-corner-all">
		<strong>Event Data Source: </strong>
		<select id="data_source">
			<option value="">Please select speciality</option>
			<option value="1">Network</option>
			<option value="2">Hardware</option>
			<option value="3">Software</option>
		</select>
	</div>
	
	<h1>Project Calendar</h1>
	<p><a href="/admin/arrange/">Recreate</a></p>
	    
    <div>
        <form action="." method="post">{% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Submit" />
        </form>
    </div>
	
	<div id='calendar'></div>
{% endblock %}
